/* Responsive for Laptop/Desktop Devices */
@media screen and (min-width: 992px) {

    .navbar-items {
        width: 50%;
    }

}

/* Responsive for Mobile Devices */


@media screen and (max-width: 600px) {

    /* Navbar section styles */
    .hide {
        display: none;
    }

    .menu-bar div {
        width: 35px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
    }

    .menu-bar {
        display: block;
    }

    header {
        max-width: 90%;
    }

    .navbar {
        justify-content: space-between;
        margin-top: 5px;
    }

    .navbar-title {
        gap: 5px;
    }

    .navbar-name {
        font-size: 25px;
        font-weight: 800;
    }

    .banner-title {
        text-align: center;
        font-size: 45px;
    }

    .banner-text {
        font-size: 15px;
        margin: 15px 20px;
        text-align: justify;
    }

    .input-container {
        flex-direction: column;
        width: 80%;
    }

    .input-container div {
        width: 100%;
    }

    .input-container button, input, select  {
        width: 100%;
    }

    .input-container input {
        margin-right: 10px;
        box-sizing: border-box;
    }

}